/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600&display=swap"); */
/* font-family: 'Poppins', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

  .right {
    max-width: 100%;
  }

  .left {
    padding-bottom: 2.5rem;
    padding-top: 6.3rem;
  }

  .left h1 {
    width: 100% !important;
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: #4c6986;
}

.name {
  font-style: italic;
  color: #58cd36;
}

.container {
  max-width: 80%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  min-width: 40%;
}

.left h1 {
  color: #77757d;
  max-width: 80%;
}

.right {
  min-width: 50%;
}

.button {
  max-width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #4c6986;
  cursor: pointer;
  font-weight: bold;
  transition: all 200ms ease;
  margin-top: 20px;
}

.button:hover {
  background-color: #4c6986;
  color: white;
}

.game {
  min-width: 18rem;
  max-width: 22rem;
  min-height: 19rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.header {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-X {
  flex: 1;
  padding-bottom: 9px;
  border-bottom: 5px solid #eee;
}

.player-O {
  flex: 1;
  padding-bottom: 9px;
  border-bottom: 5px solid #eee;
}

.active-player {
  color: #42bed7;
  border-color: #42bed7;
}

.tile-x {
  color: #42bed7;
}

.tile-o {
  color: #d7bafb;
}

.winner {
  color: #23ce6b;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  flex-grow: 1;
  grid-gap: 0;
  padding: 10px;
}

.board-tile {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-tile:hover {
  background-color: #eee;
  cursor: pointer;
}

.board-tile:not(:nth-child(3n)) {
  border-right: 3px solid rgba(137, 163, 189, 0.58);
}

.board-tile:not(:nth-last-child(-n + 3)) {
  border-bottom: 3px solid rgba(137, 163, 189, 0.58);
}
